* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: fontTitle;
  src: url(./fonts/Scary\ Zombie.ttf);
}
body {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.title {
  font-family: fontTitle;
  text-align: center;
  font-size: 50px;
  color: #feef34;
  display: block;
  letter-spacing: 1px;
  margin: 10px 0px 20px 0px;
  text-shadow: black 5px 0 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 3px solid #020100;
  border-radius: 8px;
  background-color: #feff9d;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  background-color: #fdef05;
  border-radius: 8px;
  border-color: #000000;
  font-family: inherit;
  margin: 14px 0px 14px 0;
  padding: 5px 40px;
  text-align: center;
}
button:not(:last-child) {
  margin-right: 10px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 23px;
}

@media (max-width: 440px) {
  button {
    margin-top: 15px;
  }
  #up,
  #down {
    margin-left: 100%;
    margin-right: 100%;
  }
  .btn {
    margin-top: 40px;
  }
}
.footer {
  text-align: center;
  color: white;
  font-size: 15px;
  margin: 10px 0px 10px 0px;
}
